<app-header></app-header>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/enableItem/user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/enableItem/category">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/enableItem/product">Product</a>
      </li>
    </ul>
  </div>
  <div class="card-body" *ngIf="itemType === 'user'">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Enable/Disable</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | searchFilter:seachFilterUI:'username';let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td *ngIf="user !== currentUser">{{ user.username }}</td>
        <td *ngIf="user !== currentUser">{{ user.role }}</td>
        <td *ngIf="user !== currentUser">
          <label class="switch">
            <input type="checkbox" [checked]="user.enabled">
            <span class="slider round"></span>
          </label>
        </td>
        <!-- Rounded switch -->
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body" *ngIf="itemType === 'product'">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Code</th>
        <th scope="col">Product Offer Price</th>
        <th scope="col">Category Code</th>
        <th scope="col">Enable/Disable</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products | searchFilter:seachFilterUI:'code';let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.code }}</td>
        <td>{{ product.offerPrice }}</td>
        <td>{{ product.category.code }}</td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="product.enabled">
            <span class="slider round"></span>
          </label>
        </td>
        <!-- Rounded switch -->
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body" *ngIf="itemType === 'category'">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category Type</th>
        <th scope="col">Category Code</th>
        <th scope="col">Enable/Disable</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of productCategories | searchFilter:seachFilterUI:'code';let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ category.type }}</td>
        <td>{{ category.code }}</td>
        <td>
          <label class="switch">
            <input type="checkbox" (change)="productStatus(category)"  [checked]="category.enabled">
            <span class="slider round"></span>
          </label>
        </td>
        <!-- Rounded switch -->
      </tr>
      </tbody>
    </table>
  </div>
</div>
