<app-header></app-header>

<div class="card text-center">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item"><a class="nav-link"
				routerLinkActive="active" routerLink="/admin/addItem/user">User</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				routerLinkActive="active" routerLink="/admin/addItem/category">Category</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				routerLinkActive="active" routerLink="/admin/addItem/product">Product</a>
			</li>
		</ul>
	</div>

	<div class="card-body" *ngIf="itemType === 'user'">

		<form #createUserForm="ngForm"
			(ngSubmit)="createNewUser(createUserForm)">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputEmail4">Username</label> <input type="text"
						class="form-control" id="username" name="username"
						placeholder="Username" required #username="ngModel" ngModel>
					<h6 class="text-danger" *ngIf="!username.valid && username.touched">
						Enter a Username</h6>
				</div>

				<div class="form-group col-md-3">
					<label for="inputPassword4">Password</label> <input type="password"
						class="form-control" id="password" name="password"
						placeholder="Password" required #password="ngModel" ngModel>
					<h6 class="text-danger" *ngIf="!password.valid && password.touched">
						Enter Password</h6>
				</div>
				<div class="form-group col-md-3">
					<label for="inputPassword4">Confirm Password</label> <input
						type="password" class="form-control" id="confirmPassword"
						name="confirmPassword" placeholder="Confirm Password" required
						#confirmPassword="ngModel" ngModel>
					<h6 class="text-danger"
						*ngIf="!confirmPassword.valid && confirmPassword.touched">
						Enter Confirm Password</h6>
				</div>
			</div>
			<h6 class="text-danger"
				*ngIf="password.value !== confirmPassword.value && confirmPassword.touched">Enter
				same Passwords</h6>
			<div class="form-row">

				<div class="form-group col-md-4">
					<label for="inputState">Role</label> <select id="inputState"
						name="role" class="form-control" required #role="ngModel" ngModel>
						<option *ngFor="let role of roles" [ngValue]="role.name">{{
							role.name }}</option>
					</select>
					<h6 class="text-danger" *ngIf="!role.valid && role.touched">Select
						a role</h6>
				</div>

				<div class="form-group col-md-5">
					<label for="inputAddress2">Email</label> <input type="text"
						class="form-control" name="email" id="Email" required
						#email="ngModel" placeholder="Email" ngModel>
					<h6 class="text-danger" *ngIf="!email.valid && email.touched">Enter
						a Email</h6>
				</div>

			</div>


			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck"
						name="enabled" #userEnabled="ngModel" ngModel
						[defaultChecked]="false" /> <label class="form-check-label"
						for="gridCheck"> Enabled </label>
				</div>
			</div>
			<h3
				[ngClass]="userEnabled.value != '' ? 'text-success' : 'text-danger' ">
				<b>User Will be {{ userEnabled.value !== '' && userEnabled.value
					? 'Enabled' : 'Disabled' }}</b>
			</h3>
			<button type="submit" class="btn btn-primary"
				[disabled]="!createUserForm.valid">Create User</button>
		</form>

	</div>


	<div class="card-body" *ngIf="itemType === 'category'">
		<form #createCategoryFrom="ngForm"
			(ngSubmit)="createNewCategory(createCategoryFrom)">
			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="categoryName">Category Name</label> <input type="text"
						class="form-control" id="categoryName" name="categoryName"
						aria-describedby="emailHelp" placeholder="Enter category name"
						#categoryName="ngModel" ngModel required>
					<!-- <small
					id="emailHelp" class="form-text text-muted">We'll never
					share your email with anyone else.</small> -->
				</div>
				<div class="form-group col-md-5">
					<label for="categoryType">Category Type</label> <input type="text"
						class="form-control" id="categoryType" name="categoryType"
						#categoryType="ngModel" ngModel required
						placeholder="Enter category type">
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck"
						name="categoryEnabled" #categoryEnabled="ngModel" ngModel
						[defaultChecked]="false" /> <label class="form-check-label"
						for="gridCheck"> Enabled </label>
				</div>
			</div>
			<h3
				[ngClass]="categoryEnabled.value != '' ? 'text-success' : 'text-danger' ">
				<b>Category Will be {{ categoryEnabled.value !== '' &&
					categoryEnabled.value ? 'Enabled' : 'Disabled' }}</b>
			</h3>
			<button type="submit" class="btn btn-primary"
				[disabled]="!categoryType.valid && !categoryName.valid">Create Category</button>
		</form>
	</div>

	<div class="card-body" *ngIf="itemType === 'product'">

		<form #createProductFrom="ngForm"
			(ngSubmit)="createNewProduct(createProductFrom)">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="code">Code</label> <input type="code" name="code"
						#productCode="ngModel" ngModel required class="form-control"
						id=code placeholder="Code">
				</div>
				<div class="form-group col-md-8">
					<label for="description">Description</label> <input type="password"
						name="description" class="form-control" id="description"
						placeholder="Description" #description="ngModel" ngModel required>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="Stock">Stock</label> <input type="text" name="Stock"
						class="form-control" id="Stock" placeholder="Stock"
						#stock="ngModel" ngModel required>
				</div>
				<div class="form-group col-md-3">
					<label for="price">Price</label> <input type="text" name="price"
						class="form-control" id="price" #price="ngModel" ngModel required
						placeholder="Price">
				</div>
				<div class="form-group col-md-3">
					<label for="offerPrice">Offer Price</label> <input type="text"
						name="offerPrice" class="form-control" id="offerPrice"
						#offerPrice="ngModel" ngModel required placeholder="Price">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputState">Category</label> <select id="category"
						class="form-control" required name="category" #category="ngModel"
						ngModel>
						<option *ngFor="let category of productCategories"
							[ngValue]="category">{{ category.type }}</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="exampleFormControlFile1">Select Image</label> <input
						type="file" class="form-control-file text-center" id="exampleFormControlFile1">
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck"
						name="productEnabled" #productEnabled="ngModel" ngModel
						[defaultChecked]="false" /> <label class="form-check-label"
						for="gridCheck"> Enabled </label>
				</div>
			</div>
			<h3
				[ngClass]="productEnabled.value != '' ? 'text-success' : 'text-danger' ">
				<b>Product Will be {{ productEnabled.value !== '' &&
					productEnabled.value ? 'Enabled' : 'Disabled' }}</b>
			</h3>
			<button type="submit" class="btn btn-primary">Create Product</button>
		</form>


	</div>


</div>


