<div class="alert alert-success text-center" *ngIf="registerService.status">
  <strong>Successfully!</strong> Registerd! Please sign in.!
</div>
<body class="text-center">
<form class="form-signin" (ngSubmit)="login(f)" #f="ngForm">
  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="name" class="sr-only">Username</label>
  <div class="alert alert-danger" role="alert" *ngIf="!username.valid && username.touched">Please enter a valid Username!</div>
  <input type="text" id="name" name="username" ngModel #username="ngModel" required class="form-control" placeholder="Username" autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <div class="alert alert-danger" role="alert" *ngIf="!password.valid && password.touched">Please enter a valid Password!</div>
  <input type="password" name="password" #password="ngModel" ngModel required id="inputPassword" class="form-control" placeholder="Password">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
</body>
<button type="button" class="btn btn-primary" id="wrongLoginButton" data-toggle="modal" data-target="#wrongLogin"></button>

<div class="modal fade" id="wrongLogin" tabindex="-1" role="dialog" aria-labelledby="wrongLogin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Error!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Username/Password error.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
