<body class="text-center">
<form class="form-signin" (ngSubmit)="register(f)" #f="ngForm">
  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please enter details to register</h1>

  <label for="username" class="sr-only">Username</label>
  <div class="alert alert-danger" role="alert" *ngIf="!username.valid && username.touched">Please enter a valid username!</div>
  <input type="text" id="username" name="username" ngModel required
         class="form-control" placeholder="Username" autofocus #username="ngModel">
  <br/>
  <label for="password" class="sr-only">Password</label>
  <div class="alert alert-danger" role="alert" *ngIf="!password.valid && password.touched">Please enter a valid password!</div>
  <input type="password" name="password" ngModel required
         id="password" class="form-control" placeholder="Password"  #password="ngModel">

  <label for="confirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" name="confirmPassword" ngModel required
         id="confirmPassword" class="form-control" placeholder="Confirm Password" #confirmPassword="ngModel">

  <div class="alert alert-danger" role="alert" *ngIf="password.value !== confirmPassword.value && confirmPassword.touched">Please enter the same password!</div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Register</button>
</form>
</body>
